body {
  margin: 0!important;
  font-family: Arial, sans-serif;
}
.sub-container{
  margin-top: 200px;
}

/* header, footer {
  background-color: #333;
  color: white;
  padding: 1rem;
} */

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

main {
  padding: 1rem;
}
a{color:#333;}
span{color:#333}